<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>sample.controllers.HomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>sample.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AircraftController</servlet-name>
        <servlet-class>sample.controllers.AircraftController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AircraftTypeController</servlet-name>
        <servlet-class>sample.controllers.AircraftTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightController</servlet-name>
        <servlet-class>sample.controllers.FlightController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberController</servlet-name>
        <servlet-class>sample.controllers.MemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>sample.controllers.BookingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/HomepageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AircraftController</servlet-name>
        <url-pattern>/AircraftController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AircraftTypeController</servlet-name>
        <url-pattern>/AircraftTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightController</servlet-name>
        <url-pattern>/FlightController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberController</servlet-name>
        <url-pattern>/MemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/BookingController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomepageController</welcome-file>
    </welcome-file-list>
</web-app>
